#footer, #header, #rightContent, #leftContent {
	background: grey;
	border:1px solid black;
}
#main{
	border:0;
	background-image: url("../images/hip-square.png");
}

h1{
	float:left;
}
.navbar {
	border:1px solid black;
	overflow: hidden;
}
.navbar a{
	font-size: 2em;
	color: black;
}